@{
    ViewData["Title"] = "Hoş Geldiniz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="text-center text-white">
    <div class="register-container">
        
      

       
    </div>
</section>

