@{
    ViewData["Title"] = "Hoş Geldiniz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="text-center text-white">
    <div class="register-container">
        <div class="register-box">
            <h1 class="mb-3">Güvenlik ve Koruma Merkezi</h1>
            <p class="lead mb-4">
                kdjhfdkghbslkdfjmşlsghnfdjkghdfkgjh
            </p>

            <p class="mb-4">
                <a class="btn btn-lg btn-light fw-bold mb-2" href="/Kullanici/Kayit">Hemen Kaydol</a>
                <a class="btn btn-lg btn-outline-light fw-bold" href="/Kullanici/Giris">Giriş Yap</a>
            </p>

            <ul class="list-unstyled mb-0 text-start">
                <li>🔒 aaaaaaa</li>
                <li>🛡️ bbbbbbb</li>
                <li>⚠️ aaaaaa</li>
            </ul>
        </div>
    </div>
</section>