body {
    font-family: Arial, sans-serif;
}

.card h1 {
    color: #003366;
}

.btn-primary {
    background-color: #cc0000;
    border-color: #cc0000;
}

    .btn-primary:hover {
        background-color: #a30000;
        border-color: #a30000;
    }
