@model droneWEB.WebUI.Models.GirisViewModel
@{
    Layout = "_LayoutKullanici";
    ViewData["Title"] = "Giriş Yap";
}

<div class="card p-4 shadow" style="max-width: 500px; width:100%;">
    

    <div class="card p-4 shadow" style="max-width: 500px; width:100%; margin:auto;">
    <div class="d-flex justify-content-center mb-4">
        <a asp-action="Giris" 
           class="btn me-2 @(ViewData["Title"]?.ToString() == "Giriş Yap" ? "btn-light text-primary border-primary" : "btn-primary")">
            Giriş Yap
        </a>
        <a asp-action="Kayit" 
           class="btn @(ViewData["Title"]?.ToString() == "Kayıt Ol" ? "btn-light text-primary border-primary" : "btn-primary")">
            Kayıt Ol
        </a>
    </div>


    @if (ViewData.ModelState.Values.SelectMany(v => v.Errors).Any())
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <div>@error.ErrorMessage</div>
            }
        </div>
    }

    <form asp-action="Giris" method="post">
        <div class="row mb-3 align-items-center">
            <label for="inputEmail" class="col-sm-3 col-form-label">Eposta</label>
            <div class="col-sm-9">
                <input asp-for="Eposta" class="form-control" id="inputEmail" placeholder="Eposta" />
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <label for="inputPassword" class="col-sm-3 col-form-label">Şifre</label>
            <div class="col-sm-9">
                <input asp-for="Sifre" type="password" class="form-control" id="inputPassword" placeholder="Şifre" />
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-lg btn-primary w-50" type="submit">Giriş Yap</button>
        </div>
    </form>
</div>




