@model droneWEB.WebUI.Models.GirisViewModel

<h2>Giriş Yap</h2>

<form asp-action="Giris" method="post">
    <input asp-for="Eposta" placeholder="Eposta" />
    <input asp-for="Sifre" placeholder="Şifre" type="password" />
    <button type="submit">Giriş Yap</button>
</form>

@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
{
    <p>@error.ErrorMessage</p>
}

